<header>
      <nav class="nabar">
          <div class="container">
            <div class="logo"> <img src="../../assets/logo.png" alt="logo"> Free Learning </div>
            <ul class="nav-list">
                <li><a class="default-link" href="#">Home</a></li>
                <li><a class="default-link" href="#">About us</a></li>
                <li><a class="default-link" href="#">Courses</a></li>
                <li><a class="default-link" href="#">Articles</a></li>
                <li><a class="default-link"href="#">Blogs</a></li>
            </ul>
          </div>
      </nav>
      <section class="header-body">
              <div class="overlay">
                   <div class="header-content">
                       <div class="box">
                              <h1>  English Society  </h1>
                              <h4> For Free</h4>
                       </div>
                   </div>
              </div>
      </section>
</header>

<section class="page-body">
  <div class="container">
      <div class="aboutUs-head"><h1> ABOUT US </h1> </div>
      <section id="aboutUs" class="row ">
              <div  style="margin-bottom: 40px" class="col-md-3">
                  <div class="about-icon">
                      <img src="../../assets/teacher-pointing-blackboard.png" alt="teacher">
                  </div>
                  <div class="about-content">
                         <h5>EXPERT TEACHERS</h5>
                         <p> is simply dummy text of the printing aever since the 1500s, when an unknown printer took a galley </p>
                  </div>
              </div>
              <div  style="margin-bottom: 40px" class="col-md-3">
                  <div class="about-icon">
                      <img src="../../assets/group.png" alt="teacher">
                  </div>
                  <div class="about-content">
                      <h5>FREE CAMPING</h5>
                      <p> is simply dummy text of the printing aever since the 1500s, when an unknown printer took a galley </p>
                  </div>
              </div>
              <div  style="margin-bottom: 40px" class="col-md-3">
                  <div class="about-icon">
                      <img src="../../assets/video-lecture.png" alt="teacher">
                  </div>
                  <div class="about-content">
                      <h5>VIDEO COURSES</h5>
                      <p> is simply dummy text of the printing aever since the 1500s, when an unknown printer took a galley </p>

                  </div>
              </div>
              <div   style="margin-bottom: 40px" class="col-md-3">
                  <div class="about-icon">
                      <img src="../../assets/Live.png" alt="teacher">
                  </div>
                  <div class="about-content">
                      <h5>VIDEO CHAT</h5>
                      <p> is simply dummy text of the printing aever since the 1500s, when an unknown printer took a galley </p>
                  </div>
              </div>




            <div class="aboutUs-head col-md-12"><h1> OUR CAMPUS </h1> </div>

            <div class="carouser-card col-md-12">
                <carousel >
                    <slide>
                    <img class="edit-ee" src="../../assets/layer.png" alt="first slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                    </slide>
                    <slide>
                    <img class="edit-ee" src="../../assets/layer.png" alt="second slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    </slide>
                    <slide>
                    <img class="edit-ee" src="../../assets/layer.png" alt="third slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                    </slide>
                </carousel>

            </div>
            <div class="aboutUs-head col-md-12"><h1> TEACHERS </h1> </div>
      </section>

</div>

</section>

<footer>

    <mat-card  style=" background-color: black ; color: white ; font-size: 12px ">
      <section class="container">
         <div class="row" style="margin-top: 20px">
            <div style="padding: 10px" class="col-md-5">
               <h4 style ="color: wheat ; margin-bottom: 20px">ENGLISH SOCIETY </h4>
               <p style="padding-top: 5px ; width: 310px;">
                 loram text loram text loram text loram text loram text loram text loram
                 text loram text loram text loram text
                 loram text loram t loram text loram t  loram text loram loram text loram.

               </p>
            </div>
            <div style="padding: 10px" class="col-md-4">
              <h4  style="color: wheat; margin-bottom: 20px">GOALS</h4>
              <ul style="list-style: none ;padding: 0">
                <li style="padding: 5px">oram text loram text loram text loram text  </li>
                <li style="padding: 5px">oram text loram text loram text loram text </li>
                <li style="padding: 5px">oram text loram text loram text loram text </li>
              </ul>
            </div>
            <div style="padding: 10px" class="col-md-3">
              <h4  style=" color: wheat; margin-bottom: 20px">CONTACT US</h4>

              <ul style="list-style: none ;padding: 0">
                <li style="padding: 5px ; display: flex ;">
                  <mat-icon style="font-size: 16px ; margin: auto 0 auto 5px" class="icon-edit" aria-hidden="false" aria-label="Example home icon">call</mat-icon>
                  +02 - 011478963333
                </li>
                <li style="padding: 5px ; display: flex ; ">
                  <mat-icon style="font-size: 16px; margin: auto 0 auto 5px" class="icon-edit" aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
                  EnglishSociety@gmail.com
                </li>
                <li style="padding: 5px"></li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h5 style="text-align: center ; margin: 30px 0 ; color: wheat" > &copy; ALL Right Reserved English Society 2019</h5>

                  <div style="display: flex" class="social-photos">
                    <section style="margin: auto" class="photo-block">
                      <img style="margin-right: 17px ; width: 32px ; height: 32px;" src="../../assets/face.svg" alt="facebook photo">
                      <img style="margin-right: 17px ; width: 32px ; height: 32px;" src="../../assets/twitter.svg" alt="twitter photo">
                      <img style="margin-right: 17px ; width: 32px ; height: 32px;" src="../../assets/vimeo.svg" alt="vimeo photo">
                      <img style="margin-right: 17px ; width: 32px ; height: 32px;" src="../../assets/youtube.svg" alt="youtube photo">

                    </section>
                  </div>
              </div>
          </div>
      </section>
    </mat-card>
</footer>

