  <header>
    <mat-card  class="header-card">
      <section class="custom-container">
          <section class="links-section">
            <div class="logo"> <img src="../../assets/logo.png" alt="logo"> FREE LEARNING </div>
            <section>
              <a class="default-link" href="#">HOME</a>
              <a class="default-link" href="#">ARTICLES</a>
              <a class="default-link" href="#">ABOUT US</a>
            </section>
          </section>
      </section>
    </mat-card>
  </header>


  <section class="body-section">
    <section class="custom-container">
      <mat-card class="row" style="width: 100% ; height: 255px ; margin-top: 30px; display: flex">
        <section class="col-9" style="height: 100% ; overflow: hidden ; position: relative">
          <mat-card-title>Test Card</mat-card-title>
          <mat-card-content>
            <p style="max-height: 100px ; overflow: hidden">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
            <span style="position: absolute ; bottom: 10px">
              <small>12/5/2015</small>
            </span>
          </mat-card-content>
        </section>
       <section class="col-3" style="height: 100%">
         <img  style="height: 100% ; margin: auto ; width: 100% ;box-shadow: 1px 1px 4px grey; border-radius: 3px" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
       </section>
      </mat-card>
    </section>
  </section>
