<section class="split-menu">


  <section class="menu split-effect">

    <mat-list style="padding: 10px ; margin-top: 120px;">

      <a href="#">
          <mat-list-item class="list-edit">
              <mat-icon  class="icon-edit" aria-hidden="false" aria-label="Example home icon">add</mat-icon>
              Add Post
          </mat-list-item>
          <mat-divider class="divider-edit"></mat-divider>
      </a>

      <a href="#">
          <mat-list-item class="list-edit">
              <mat-icon class="icon-edit" aria-hidden="false" aria-label="Example home icon">list_alt</mat-icon>
               Show Posts
          </mat-list-item>
      </a>



    </mat-list>
  </section>

  <section class="content">
    <mat-toolbar style="height: 10%" >
      <section style="display: flex">
        <mat-icon style= " cursor: pointer" (click)="controllMenue()" aria-hidden="false" aria-label="Example home icon">vertical_split</mat-icon>
      </section>
      <section style="display: flex">
        <button style="border-radius: 24px ; height: 40px ; margin: auto 30px ; outline: none; font-size: 11px" mat-raised-button color="primary">
          <mat-icon style="font-size: 23px " aria-hidden="false" aria-label="Example home icon">add</mat-icon>
          ADD NEW POST
        </button>
        <mat-icon style="margin: auto 20px" >message</mat-icon>

        <section class="img-circle">
          <img  class="profile-photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwoqefun03CweG306U4vC2BmnF-nIvSuLrD3bE3qlvhFfACpWn" alt="">
        </section>
      </section>
    </mat-toolbar>


    <router-outlet></router-outlet>


  </section>
</section>


