<section class="split-menu">
  <section class="menu">

  </section>
  <section class="content">
    <mat-toolbar >
      <section style="display: flex">
        <mat-icon aria-hidden="false" aria-label="Example home icon">vertical_split</mat-icon>
      </section>
      <section style="display: flex">
        <button style="border-radius: 24px ; height: 40px ; margin: auto 30px ; outline: none" mat-raised-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
          ADD NEW POST
        </button>
        <mat-icon style="margin: auto 20px" >message</mat-icon>

        <section class="img-circle">
          <img  class="profile-photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwoqefun03CweG306U4vC2BmnF-nIvSuLrD3bE3qlvhFfACpWn" alt="">
        </section>
      </section>
    </mat-toolbar>
  </section>
</section>


<router-outlet></router-outlet>
